@import url('https://fonts.googleapis.com/css?family=Roboto');

.menu-title {
  text-align: left;
}
.menu-image {
  float: right;
}
.selected-card {
  padding: 1rem;
  border: none;
  margin: 0.7rem 0;
}
.selected-image {
  width: 300px;
  height: 250px;
}
.select-detail-grid,
.select-detail-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.cart-image {
  width: 120px;
  height: 100px;
}

@media (max-width: 700px) {
  .menu-image {
    float: none;
  }
  .menu-title,
  .imageBox,
  .chooseButton {
    text-align: center;
    justify-content: center;
  }
  .selected-card {
    width: 200px;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .selected-image {
    width: 180px;
    height: 150px;
  }
  .mobile-card {
    height: 280px;
  }
  .select-detail-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }
  .select-detail-buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .cart-image {
    width: 72px;
    height: 60px;
  }
  .btn-checkout-mobile {
    display: block;
    width: 100%;
    margin: auto;
  }
  .select-mobile {
    width: auto;
    size: 0.5rem;
  }
}
